$color_1: #111;
$color_2: #222;
$color_3: #0066c0;
$color_4: #767676;

/* for login page */
section {
	position: relative;
	width: 100%;
	top: 120px;
	min-height: 100vh;
}
.sign_container {
	width: 85%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.sign_header {
	img {
		width: 200px;
		margin-top: -40px;
		cursor: pointer;
	}
}
.sign_form {
	border: 1px solid #c9c9c9;
	padding: 10px 30px;
	margin-top: -50px;
	border-radius: 5px;
	h1 {
		font-weight: 500;
		font-size: 27px;
		margin: 10px 0;
	}
	label {
		font-size: 13px;
		font-weight: 700;
		margin-bottom: 1px;
	}
	input {
		width: 100%;
		height: 31px;
		padding: 3px 7px;
		border-radius: 3px;
		outline: none;
		border: 1px solid #a6a6a6;
		margin-bottom: 10px;
		margin-top: 1px;
		&:focus {
			box-shadow: 0 0 5px 0px #ffbc2c;
		}
	}
	.signin_btn {
		margin-top: 7px;
		margin-bottom: 23px;
		width: 100%;
		background: #f3d078;
		cursor: pointer;
		border: 1px solid #9c7e31;
		height: 29px;
		outline: none;
		border-radius: 3px;
		color: $color_1;
		background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
	}
	.signin_info {
		margin-top: 23px;
		display: flex;
		margin-bottom: 10px;
        align-items: center;
        justify-content: center;
		p {
			font-size: 16px;
			font-weight: 600;
			color: $color_2;
		}
		a {
			font-size: 15px;
			letter-spacing: .5px;
			margin-left: 5px;
			color: $color_3;
			text-decoration: none;
			font-weight: 600;
		}
	}
}
.create_accountinfo {
	p {
		font-size: 18px;
		text-align: center;
		color: $color_4;
		margin-top: 20px;
		font-weight: 600;
	}
	button {
		background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
		height: 29px;
		width: 300px;
		border-radius: 3px;
		border: 1px solid #adb1b8;
		outline: none;
		margin-top: 6px;
	}
	a {
		text-decoration: none;
		color: $color_1;
		padding: 10px 35px;
		letter-spacing: .5px;
	}
}
